*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
   
   
background-color: rgb(243, 246, 246);
   
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 120px;
}

.menu button{
    padding: 12px 25px;
    background: none;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.menu button:hover,
.popup .save-btn:hover,
.popup .close:hover {
    background-color: #333;
    color: #ddd;
}

.menu h1{
    margin-left: 0.1rem;
}

.add-button{
    margin-right: 2rem;
}



button i{
    margin-right: 0.3rem;
}

.error{
    margin: 1rem 0 0 7rem;;
    font-family: 'Ubuntu';
    color: rgb(190, 45, 35);
    display: none;
}

 .bottom button{
    padding: 12px 25px;
    background: none;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    margin-top: 3.04rem;
    
}

.save-btn{
    margin-left: 8rem;
    margin-right: 0.5rem;
    cursor: pointer;
    
}

.popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 0;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}

.popup h1{
    font-family: 'Ubuntu';
    color: rgb(76, 78, 69);
    margin: 1rem 0 0.3rem 9.5rem;
    
}

.popup p{
    font-family: 'Ubuntu';
    color: rgb(76, 78, 69);
    margin: 1rem 0 0.3rem 11.5rem;
    
}

#category{
    width: 450px;
    height: 30px;
    left: 1.7rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    position: relative;
}

textarea{
    position: relative;
    width: 450px;
    height: 50px;
    left: 1.7rem;
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
    max-width: 450px;
    min-width: 50px;
    max-height: 600px;
    
    font-size: 15px;
    padding: 8px;
    
  
  
    
 
}




h1{
    margin-bottom: 1rem;
    margin-left: 6.7rem;
    font-family: 'Ubuntu';
    font-size: 25px;
}

.note{
    margin: 40px 20px;
    width: 240px;
    background-color: rgb(255, 243, 0);
    border: 1px solid black;
}


    
.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, .06);
} 
    
.note-body {
    padding: 20px 15px;
    font-size: 14px;
    font-family: 'Ubuntu';
    display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1340px;
}

.note-header .delete-note {
    background: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.note-area {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px;
}